@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

.nav-pills .nav-link.active, .nav-pills .show>.nav-link  {
    color: #fff;
    background-color: #4298b5;
}

.nav-pills .nav-link {
  color:#4298b5;
}

.nav-pills:hover .nav-link:hover {
  color: #4298b5;
  font-weight: bold;
}

.nav-pills .nav-link.active:hover, .nav-pills .show>.nav-link:hover  {
    color: #fff;
    background-color: #4298b5;
}


.navbar-vertical.navbar-expand-md .navbar-brand-img {
  max-height: 5rem;
}

.navbar-vertical.navbar-expand-md .navbar-brand{
  padding-bottom: 0rem;
}

body {
  font-family: 'Roboto', sans-serif;
}


.text-primary {
    color: #4298b5 !important;
    font-size: 1.3em !important;
}

.icon-shape-primary {
    background-color: white !important;
}



table.dataTable.no-footer {
    border-bottom: 0px solid #111 !important;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: 0px solid #111 !important; 
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 0px solid #111 !important;
}

.bg-info {
    background-color: #4298b5 !important;
}

.card-body {
    padding: 0rem 1.5rem;
    flex: 1 1 auto;
}

div.selectize-input div.item {
  color: #fff !important;
  background-color: #4298b5 !important;
}